@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@media only screen and (max-width: 768px) {
  * {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background: #E5E5E5;          
  }

  header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  header a {
    margin: 0 12px;
    font-size: 18px;
  }

  ul li {
    list-style: none;
    display: flex;
  }

  .about h2 {
    font-size: 40px;
  }

  nav img {
    font-size: 15px;
    width: 24px;
    height: 24px;
    margin: 10px 24px;
  }

  h2.name {
    width: 327px;
    height: 150px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172b4d;
  }

  p.description {
    color: #344563;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 300px;
  }

  h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    display: flex;
    align-items: center;
    text-align: center;
  }

  ul.links {
    padding: 0;
    gap: 16px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    width: 117px;
    height: 24px;
  }

  nav a {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    text-decoration: none;
    width: 250px;
    height: 20px;
    color: #6070ff;
    display: flex;
  }

  main {
    background-image: url("./BG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 5%;
    left: 0;
    margin: 10px 0;
    width: 100%;
    display: flex;
    border-bottom-left-radius: 62px;
  }

  section.main-section {
    margin: 114px 24px;
  }
}

/* @media only screen and (min-width: 768px) {
  nav img {
    font-size: 15px;
    width: 24px;
    height: 24px;
    margin: 0 10%;
  }
} */
